mat-card {
  max-width: 50%;
  margin: 2em auto;
  text-align: center;
}

.column-flex {
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 25px;

  background-color: rgba(0, 0, 0, 0.15);
}

.category-row {
  display: flex;
  align-items: center;
}

.add-course-button {
  position: absolute;
  right: 30px;
  bottom: 30px;

  height: 90px;
  width: 90px;
}

mat-mini-fab {
  width: 10%;
  height: 10%;
}
