<mat-card>
  <mat-card-content class="mat-elevation-z8 column-flex">
    <mat-toolbar color="primary">
      <span>Cursos disponíveis</span>
    </mat-toolbar>

    <!-- O Angular checa se a lista courses recebeu os dados ou não. Caso não, ele usa o elemento do Spinner -->
    <!-- Caso tenha recebido ela aloca na variável local "courses", que será lida pelo dataSource -->


    <app-courses-list
      *ngIf="courses$ | async as courses; else loading"
      [courses]="courses"
    ></app-courses-list>

    <!-- Caso os dados ainda não estiverem sido puxados para exibição, o Angular permite que um template -->
    <!-- seja carregado no lugar, utilizando como id a variável que foi utilizada no else do ngIf. -->
    <ng-template #loading>
      <div class="spinner">
        <mat-spinner></mat-spinner>
      </div>
    </ng-template>
  </mat-card-content>

</mat-card>

<button
  (click)="onAdd()"
  class="add-course-button"
  mat-fab
  color="primary"
  aria-label="Adicionar um curso"
>
  <mat-icon>add</mat-icon>
</button>
