mat-card {
  width: 50%;
  margin: auto;
  margin-top: 30px;

}

.spinner {
  display: flex;
  align-items: center;
  justify-content: center;

  padding: 25px;

  background-color: rgba(0, 0, 0, 0.15);
}

.category-row {
  display: flex;
  align-items: center;
}

.add-course-button {
  position: absolute;
  right: 30px;
  bottom: 30px;

  height: 90px;
  width: 90px;
}

mat-mini-fab {
  width: 10%;
  height: 10%;
}
