<mat-card>
  <mat-card-content>
    <mat-toolbar color="primary">
      <span>Cursos disponíveis</span>
    </mat-toolbar>

    <!-- O Angular checa se a lista courses recebeu os dados ou não. Caso não, ele usa o elemento do Spinner -->
    <!-- Caso tenha recebido ela aloca na variável local "courses", que será lida pelo dataSource -->
    <div *ngIf="courses$ | async as courses; else loading">
    <table
      mat-table
      [dataSource]="courses"
      class="mat-elevation-z8"
      aria-label="Tabela de cursos"
    >
      <!-- Name Column -->
      <ng-container matColumnDef="name">
        <th mat-header-cell *matHeaderCellDef>Nome</th>
        <td mat-cell *matCellDef="let course">{{ course.name }}</td>
      </ng-container>

      <!-- Weight Column -->
      <ng-container matColumnDef="category">
        <th mat-header-cell *matHeaderCellDef>Categoria</th>
        <td mat-cell *matCellDef="let course">
          <div class="category-row">
          {{ course.category }}
          <mat-icon aria-hidden="false" aria-label="Categoria do curso" style="margin-left: 8px">
            {{ course.category  | category }}
          </mat-icon>
        </div>
        </td>
      </ng-container>

      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns"></tr>
    </table>
  </div>

  <!-- Caso os dados ainda não estiverem sido puxados para exibição, o Angular permite que um template -->
  <!-- seja carregado no lugar, utilizando como id a variável que foi utilizada no else do ngIf. -->
  <ng-template #loading>
    <div class="spinner">
    <mat-spinner></mat-spinner>
  </div>
  </ng-template>

  </mat-card-content>
</mat-card>
